<% @instruments.each do |instrument| %>
  <label>Instrument</label><br>
  <label>Name: </label><%= instrument.name %><br>
  <label>Classification: </label><%= instrument.classification %><br>
<% end %>
